server:
  port: 7001
  servlet:
    context-path: /ad-search

spring:
  application:
    name: eureka-client-ad-search
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate.format_sql: true
    open-in-view: false
  datasource:
    url: jdbc:mysql://118.126.111.144:3306/noc_ad_data?autoReconnect=true
    username: root
    password: mySt8#pW
    tomcat:
      max-active: 4
      min-idle: 2
      initial-size: 2
  kafka:
    bootstrap-servers: 118.126.111.144:9092
    listener:
      concurrency: 4

eureka:
  client:
    service-url:
      defaultZone: http://server1:8000/eureka/

feign:
  hystrix:
    enabled: true

# 监控配置信息
management:
  endpoints:
    web:
      exposure:
        include: "*"

adconf:
  mysql:
    host: 118.126.111.144
    port: 3306
    username: root
    password: mySt8#pW
    binlogName: binlog.000038
    position: 60451

  kafka:
    topic: ad-search-mysql-data
